@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #10291a;

  color: white;
  text-align: center;
  padding: 20px;
}

main {
  overflow-y: auto;
  padding-top: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  /* position: fixed; */
  width: 100%;
  z-index: 1000;
  /* background-color: #040a22; */

  background-image: url('bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.theme-toggle {
  position: fixed;
  right: 10px;
  top: 0;
  z-index: 1000;
  padding: 10px;
}

textarea {
  height: 5em;
  width: 100%;
}


.btnCopy,
.btnCopy2 {
  margin-top: [헤더의 높이];
  /* 버튼 위치 조정 */
}

/* 기존 CSS 스타일 */




.card {
  border: 1px solid #ccc;
  margin: 10px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divWrap {
  display: flex;
  align-items: center;
  padding: 0;
}

.div0 {
  font-weight: 900;
  font-size: 24px;
}

.container {
  padding: 0;
}

.container>div {
  width: 100%;
  padding: 5px;
}

.container input {
  width: 90%;
  /* 부트스트랩 클래스 추가: 입력 필드 스타일 변경 */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mainBtn {
  width: 70%;
  color: white;
}

.sheetBtn {
  margin: 3px;
  color: white;
}

.cardBtn {
  margin: 0 5px;
  width: 100%;
}

input {
  margin-bottom: 5px;
}

.btn {
  color: white;
}

.btn2 {
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.btn2:hover {
  background-color: #fcd53f;
  color: white;
}

.btn2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 10px;
}

.btn2:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  border-radius: 10px;
}

.popupTitle {
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.btnCopy {
  height: 40px;
  padding: 5px;
  width: 100%;
  color: white;
  border-radius: 0 0 0 5px;
}

.btnCopy2 {
  height: 40px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 18px;
  width: 100%;
  border-radius: 0 0 5px 0;
}

.btnBuild {
  height: 40px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
}

.txtBox {
  background-color: #f92f60;
  padding: 0 8px;
  border-radius: 5px;
  color: #040a22;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a3a3a3;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a3a3a3;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a3a3a3;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #a3a3a3;
}


/* Contact Section Styles */
#contact {
  background-color: #474747;
  margin-bottom: 10px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.contact-info,
.contact-form {
  width: calc(50% - 40px);
  margin: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.contact-info,
.contact-form {
  flex: 0 1 calc(50% - 40px);
  /* Adjust to display two items per row */
  margin: 20px;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {

  .contact-info,
  .contact-form {
    margin: 20px auto;
    width: 100%;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}
